
<body>

<% if flash[:notice] %>
    <div class="flash"><%= flash[:notice] %></div>
<% end %>

  <p id="notice"></p>

    <p><strong>Title:</strong><%= @book.title %></p>

    <p><strong>Body:</strong><%= @book.body %></p>


  <a class="edit" href="<%= edit_book_path(@book) %>">Edit</a>
   | 
  <a class="back" href="/books">Back</a>

</body>
