<body>
  <p id="notice"></p>
  <p>
    <strong>Title:</strong>
  </p>

  <p>
    <strong>Body:</strong>
  </p>

  <a class="edit" href="/books/edit">Edit</a>
  " | "
  <a class="back" href="/books">Back</a>
</body>
